@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
}
/* 
html, body {
  height: 100%;
} */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

body {
  background-color: #333;
  color: #eee;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

.np{
  font-style: normal;
}

/* Buttons */

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

/* GIF */
.gif_img {
  max-width: 200px;
  max-height: 200px;
}

.btn_gif {
  background-color: #6f01d6;;
  border-radius: 2em;
  /* border: 0.2em solid #1ecd97; */
  color: white;
  cursor: pointer;
  font-size: 2.5vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
}

/* Player */
.np_name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.np_artist {
  margin-bottom: 1em;
}

.status {
  margin-bottom: 1em;
}

.np_img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}

.np_img img {
  max-width: 90vmin;
  width: 100%;
}

.np_desc {
  margin-left: 5%;
  width: 45%;
}

.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress__bar {
  background-color: #eee;
  height: 4px;
}