@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #E57B9F;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  color: #eee;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

a{
  text-decoration: none;
}

/* Buttons */

.btn {
  background-color: #619CEE;
  border-radius: 2em;
  color: white;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #F4E256;
  color: #2C2C2C;
}

.btn_gif {
  background-color: #D5F279;
  border-radius: 2em;
  color: #2C2C2C;
  cursor: pointer;
  font-size: 2.5vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
}

.btn_gif:hover {
  background-color: #EC5540;
  color: white;
}

/* Player */
.np_name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.np_artist {
  margin-bottom: 1em;
}

.np_img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}

.np_img img {
  max-width: 90vmin;
  width: 100%;
}

.np_desc {
  margin-left: 5%;
  width: 45%;
}

.progress {
  border: 1px solid #D5F279;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress_bar {
  background-color: #D5F279;
  height: 4px;
}

/* Responsiveness */
@media screen and (max-width: 640px) {
  .App .GIF{
    width: 30%;
    height: auto;
  }

  .main-wrapper{
    display: flex;
    flex-direction: column;
  }

  
}
